@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import DaisyUI styles */
@import 'daisyui/dist/full.css';

/* Import Raleway font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  --background: #fceca5c9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #473304;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

/* DaisyUI theme selection */
[data-theme='light'] {
  --background: #fceca5c9;
  --foreground: #171717;
}

[data-theme='dark'] {
  --background: #473304;
  --foreground: #ededed;
}